sudo: required

before install:
 - sudo apt-get install libsdl2-2.0-0 -y
 - sudo apt-get install libsdl2-image-2.0-0 -y
 - sudo apt-get install libsdl2-image-dbg -y
 - sudo apt-get install libsdl2-image-dev -y
 - sudo apt-get install libsdl2-ttf-2.0-0 -y
 - sudo apt-get install libsdl2-ttf-dbg -y
 - sudo apt-get install libsdl2-ttf-dev -y
 - sudo apt-get install binutils -y

script:
 - cd engine
 - ./build.sh
 - cd ..


